@import "_functions";
@import "_mixins";
@import "_variables";

.camp-menu {
  display: flex;
  justify-content: end;

  .block-menu-camp {
    justify-content: end;
    display: flex;

    @include media-breakpoint-down(lg) {
      justify-content: center;
    }
  }


  .field-menu {
    width: 100%;
  }

  .ws-camp-menu-wrapper {
    height: 95px;
    width: 100%;


    ul.row-level-1 {
      //display: none;
      flex-direction: row;
      flex-wrap: nowrap;
      gap: 20px;
      height: 100%;

      justify-content: center;
      margin-bottom: 0;

      .header-nav__submenu {

        &_links {
          padding: 0;
        }
      }

      & > li {
        a {
          margin: auto 0;
          height: auto;
        }
      }

      li {
        align-items: center;
        display: flex;
        height: 100%;
        list-style: none;
        white-space: initial;

        &.nav-level-2 {
          box-shadow: unset;
          background-color: transparent;
          position: relative;
          border-bottom: solid 3px transparent;

          &.show,
          &:active,
          &:focus,
          &:hover {
            color: var(--wsPartnerColor, blue);
            border-color: var(--wsSecondaryColor, blue);
          }

          &.menu-item-home {
            max-width: unset;
            margin-left: 0;
          }

          &.open,
          &.show {
            display: flex;

            a:not(.btn) {
              box-shadow: unset;
              background-color: transparent;

              &:active,
              &:focus,
              &:hover {
                box-shadow: unset;
                background-color: transparent;
                border-color: var(--wsPartnerColor, blue);
              }
            }

            .header-nav__submenu {
              display: flex;
              gap: 30px;

              &-right {
                display: flex;

                .header-nav__submenu {
                  display: none;
                }
              }
            }
          }
        }

        a {
          color: var(--ylb-color-dark-grey-1, darkgray);
          font-family: var(--ylb-font-family-cachet);
          font-size: 20px;
          font-weight: 400;
          text-wrap: initial;
          height: auto;
          line-height: 24px;

          svg {
            #menu-chevron {
              fill: var(--ylb-color-dark-grey-1, darkgray);
            }
          }


          &:active,
          &:focus,
          &:hover {
            color: var(--wsPartnerColor, blue);
            text-decoration: none;

            #menu-chevron {
              fill: var(--wsPartnerColor, black);
            }
          }
        }

        &:active,
        &:focus,
        &:hover {

          & > a {
            color: var(--wsPartnerColor, blue);
          }
        }
      }
    }

    .dropdown-menu {
      & > li > a {
        white-space: nowrap;
      }
    }

    .level-2 {
      li {
        padding: 10px;

        a {
          color: var(--ylb-color-black, black);

          &:hover {
            color: var(--wsPartnerColor, blue);
          }
        }

        &.open,
        &.show {
          display: flex;
          flex-direction: column;
          min-width: 300px;
        }
      }

      .dropdown-label {
        padding: 20px 0 20px 20px;
        color: var(--ylb-color-grey-1, gray);
        font-size: 18px;
      }
    }

    .open & {
      height: auto;

      ul.row-level-1 {
        display: block;

        li {
          &.nav-level-2 {
            padding: 20px 0;
            border-bottom: solid 1px var(--ylb-color-light-grey-3, lightgray);

            &.children:after {
              content: '';
              width: 24px;
              height: 17px;
              background-image: url('../svg/menu-arrow-right.svg');
              background-repeat: no-repeat;
              margin-left: 5px;
            }

            a {
              border-bottom: none;
              color: var(--ylb-color-dark-grey-2, darkgray);
              font-family: var(--ylb-font-family-verdana);
              font-size: 20px;
              font-weight: 400;
              line-height: 24px;
              width: 100%;

              &.menu-link--level-1 {
                font-weight: 700;
                max-width: 90%;
              }
            }

            .header-nav__submenu {
              &_navigation {
                display: none;
              }

              &.open {
                background-color: var(--ylb-color-white, white);
                border: none;
                box-shadow: none;
                display: block;
                height: calc(100% - 95px);
                left: 0;
                overflow: auto;
                position: fixed;
                right: 0;
                text-align: left;
                top: 120px;
                z-index: 1;

                .header-nav__submenu_navigation {
                  display: flex;
                  flex-direction: column;
                  align-items: start;
                  width: 100%;

                  .navigation {
                    font-family: var(--ylb-font-family-verdana);
                    line-height: 24px;
                    font-size: 20px;
                    color: var(--ylb-color-black, black);

                    &-top {
                      border-bottom: solid 1px var(--ylb-color-grey-2, gray);
                      padding: 20px;
                      width: 100%;
                      font-weight: 400;
                    }

                    &-bottom {
                      color: var(--ylb-color-white, white);
                      font-weight: 700;
                      padding: 20px 0 20px 25px;
                      width: 100%;
                    }
                  }

                  .back {
                    font-weight: 400 !important;

                    &:hover,
                    &:active,
                    &:focus {
                      cursor: pointer;
                    }
                  }

                  .label {
                    font-family: var(--ylb-font-family-cachet);
                    font-size: 1.8rem;
                    border: none;
                    color: var(--ylb-color-black, black);
                    width: 100%;
                    text-align: center;

                    &:hover,
                    &:active,
                    &:focus {
                      background-color: var(--ylb-color-black, black);
                    }
                  }
                }

                .header-nav {

                  &__submenu-left {
                    width: 100%;
                  }

                  &__submenu_links {
                    background-color: var(--wsPrimaryColor, blue);
                    border: none;
                    display: block;
                    height: auto;
                    overflow: auto;
                    padding: 0 25px;
                    position: relative;
                    top: 0;
                    width: 100%;

                    li {
                      padding: 20px 0;
                      border-bottom: solid 1px var(--ylb-color-light-grey-3, lightgray);

                      &:last-child {
                        border: none;
                      }

                      a {
                        color: var(--ylb-color-white, white);
                        word-break: break-word;
                        white-space: initial;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .desktop .ws-camp-menu-wrapper {
    .container:first-child {
      height: 100%;
    }

    ul.row-level-1 {
      padding: 0;
      display: flex;
      max-height: 95px;

      .header-nav__submenu {
        &_navigation {
          display: none;
        }
      }

      li {
        width: max-content;

        &.nav-level-2 {
          &.show,
          &:active,
          &:focus,
          &:hover {
            .menu-link--level-1 {
              color: var(--wsPartnerColor, blue);
            }
          }

          li {
            a {
              white-space: initial;

              &.menu-link--level-1 {
                padding: 20px 0;
              }
            }
          }

          &.children {
            a {
              svg {
                display: inline-block;
              }
            }
          }
        }
      }
    }

    .dropdown-menu {
      left: 50% !important;
      right: auto !important;
      transform: translate(-50%, 0) !important;

      & > .container {
        flex-wrap: nowrap;
        align-items: initial;
      }

      &.show {
        margin-top: 20px;
      }
    }

    .level-2 {
      background-color: var(--ylb-color-white, white);
      border-radius: 10px;
      box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.15);
      padding: 20px 0;
    }
  }

  .mobile .ws-camp-menu-wrapper {

    @include media-breakpoint-down(lg) {
      height: 100%;
    }

    .level-2 {
      .dropdown-label {
        display: none;
      }
    }
  }
}
