@import "_functions";
@import "_mixins";
@import "_variables";

.node--type-camp,
.node--type-camp-lp {
  &.node--lb {
    margin-top: 0;
  }

  .node__content {
    .section-body {
      padding: 80px 0;

      @include media-breakpoint-down('md') {
        padding: 60px 0;
      }
    }

    .location-header {
      background-color: var(--wsPrimaryColor, blue) !important;
    }
  }

  .block-y-camp-info {
    padding: 30px 0;
    &--wrapper {
      display: flex;
      gap: 1rem;
      flex-direction: row;

      @include media-breakpoint-down('md') {
        flex-direction: column;
      }


      .info-card {
        padding: 25px;
        color: white;
        background: rgba( 35, 31, 32, 0.2);
        border-color: transparent;
        border-radius: 10px;
        width: calc((100% - 2rem) / 3);

        @include media-breakpoint-down('md') {
          padding: 25px 20px;
          line-height: 19px;
          width: 100%;
        }

        .label {
          text-transform: uppercase;
          font-size: 16px;
          line-height: 20px;
          margin-bottom: 25px;
          @include media-breakpoint-down('md') {
            margin-bottom: 20px;
          }
        }
        .camp-address {
          display: flex;
          column-gap: 8px;
          .fas {
            margin-top: 2px;
          }
        }

        .camp-direction {
          padding-top: 10px;
          padding-left: 20px;

          a {
            color: var(--ylb-color-white, #fff);
          }
        }

        .camp-email, .camp-phone, .camp-fax {
          a {
            color: var(--ylb-color-white, #fff);
          }
        }
      }
    }
  }
}

.page-with-lb.with-banner {

  @include media-breakpoint-down(sm) {
    padding-top: 0 !important;
  }

  #block-openy-carnation-tabs {
    display: block;
  }
}
