{#
/**
 * @file
 * LB Camp Info implementation to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 *
 * @ingroup themeable
 */
#}
{% set column_classes = 'info-card' %}
<div{{ attributes.addClass('container') }}>
  {{ title_prefix }}
  {{ title_suffix }}
  <div class="block-y-camp-info--wrapper">
    <div class="{{ column_classes }}">
      <div class="camp-phone">{{ content.camp_phone }}</div>
      {% if content.camp_fax %}
        <div class="camp-fax">{{ content.camp_fax }}</div>
      {% endif %}
    </div>
    {% if content.camp_email %}
      <div class="{{ column_classes }}">
        <div class=" mb-3 mb-lg-0">
          <div class="camp-email">{{ content.camp_email }}</div>
        </div>
      </div>
    {% endif %}
    <div class="{{ column_classes }}">
      <div class="mb-3 mb-lg-0">
        <div class="camp-address">{{ content.camp_address }}</div>
        {% if content.camp_direction %}
          <div class="camp-direction">{{ content.camp_direction }}</div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
