{#
/**
 * @file
 * WS Camp Quick links implementation to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes }}>
  {{ title_prefix }}
  {{ title_suffix }}
  {% if menu_not_selected %}
    {% if in_preview %}
      <div class="container">
        {{ inform_message }}
      </div>
    {% endif %}
  {% else %}
    <div class="quick-link-menu">
      <div class="container position-relative">
        {% set safe_hash = configuration['block_revision_id'] %}
      <span class="title" aria-expanded="false" data-toggle="collapse" data-target="#collapse-{{ safe_hash }}" aria-controls="collapse-{{ safe_hash }}">
        {{ label }}
        <svg width="9px" height="5px" viewBox="0 0 9 5" xmlns="http://www.w3.org/2000/svg"
             xmlns:xlink="http://www.w3.org/1999/xlink">
          <title>Chevron</title>
          <g id="UI-KIt" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="menu-chevron" transform="translate(-588.000000, -579.154639)"
               fill="var(--ylb-color-dark-grey-1)">
              <g id="Group-4" transform="translate(0.000000, 528.000000)">
                <g id="Group" transform="translate(493.000000, 35.000000)">
                  <path
                    d="M103.765625,16.3629002 C103.617187,16.2240577 103.431641,16.1546392 103.208984,16.1546392 C102.986327,16.1546392 102.796876,16.2240577 102.640625,16.3629002 L99.5,19.4451637 L96.359375,16.3629002 C96.2031242,16.2240577 96.013673,16.1546392 95.7910157,16.1546392 C95.5683582,16.1546392 95.3828132,16.2240577 95.234375,16.3629002 C95.0781242,16.5017414 95,16.6683475 95,16.8627267 C95,17.0571046 95.0781242,17.2237108 95.234375,17.3625532 L98.890625,20.9550556 C98.968751,21.0244764 99.0624995,21.0765411 99.171875,21.1112514 C99.2812505,21.1459618 99.3906245,21.1598457 99.5,21.1529036 C99.6093755,21.1598457 99.7187495,21.1459618 99.828125,21.1112514 C99.9375005,21.0765411 100.031249,21.0244764 100.109375,20.9550556 L103.765625,17.3625532 C103.921876,17.2237108 104,17.0571046 104,16.8627267 C104,16.6683475 103.921876,16.5017414 103.765625,16.3629002 Z"
                    id="Page-1-Copy"></path>
                </g>
              </g>
            </g>
          </g>
        </svg>
      </span>
        <div id="collapse-{{ safe_hash }}" aria-labelledby="heading-{{ safe_hash }}"  class="accordion-collapse collapse dropdown-menu dropdown-content1">
          {{ content }}
        </div>
      </div>
    </div>
  {% endif %}
</div>
